.app_container {
    display: flex;
    height: 100vh;
    background-color: var(--background-color);
  }
  
  .desktop_sidebar {
    display: none;
  }
  
  .main_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
  
  .main_content {
    flex: 1;
    overflow: auto;
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .desktop_sidebar {
      display: flex;
    }
  
    .main_content {
      padding: 1.5rem;
    }
  }
  